// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

// INPUTS
.required-input-fields {
  margin-bottom: 4px;
  min-height: 94px;
}

// TOP PANEL LAYOUT
.row-one {
  max-width: 900px;
}

.inline-form-inputs {
  display: flex;
  justify-content: space-between;
  & .fd-form__item {
    width: calc(50% - 4px);
  }
}

@media only screen and (min-width: 768px) {
  & .fd-form__item {
    margin-bottom: 0;
  }

  .row-one {
    display: flex;
    width: 100%;
    &__col-one {
      width: 365px;
      padding-right: 16px;
    }
    &__col-two {
      flex: 1;
    }
    & .inline-form-inputs .fd-form__item {
      width: calc(50% - 8px);
    }
  }

  .row-two {
    max-width: 185px;
  }
}
