<h4 class="fd-has-type-4">eDealer Data</h4>
<fd-panel>
  <fd-panel-header>
    <fd-panel-head>
      <h2 fd-panel-title>eDealer Data</h2>
    </fd-panel-head>
  </fd-panel-header>
  <fd-panel-body class="panel-body panel-body--main panel-body--main__edealer">
    <div fd-form-set>
      <div class="row-one">
        <div fd-form-item class="required-input-fields row-one__col-one">
          <label fd-form-label class="required" for="input-1"
            >Customer Name</label
          >
          <fd-combobox
            id="input-1"
            [(ngModel)]="searchTermOne"
            [dropdownValues]="dropdownValues1"
            [placeholder]="''"
            [glyph]="'search'"
            [maxHeight]="'250px'"
            aria-required="true"
          >
          </fd-combobox>
          <!-- this should probably be done with an ngIf based on validation -->
          <!-- if invalid - hide the hint text and show the error message  -->
          <p class="fd-has-type-minus-1 hint-text">
            Search Customer Name or Number
          </p>
          <span class="error-message fd-has-type-minus-1"
            >Fake error message</span
          >
        </div>
        <div class="inline-form-inputs row-one__col-two">
          <div fd-form-item class="required-input-fields">
            <label fd-form-label class="required" for="input-2"
              >Customer Number</label
            >
            <input
              fd-form-control
              type="text"
              id="input-2"
              aria-required="true"
              disabled
            />
            <!-- this should probably be done with an ngIf based on validation -->
            <span class="error-message fd-has-type-minus-1"
              >Fake error message</span
            >
          </div>
          <div fd-form-item class="required-input-fields">
            <label fd-form-label class="required" for="select-1"
              >PPG Store Number</label
            >
            <div class="ui icon input">
              <sui-select
                id="select-1"
                name=""
                class="selection"
                [(ngModel)]="selectedOption"
                [isSearchable]="true"
                [options]="options"
                placeholder="Select Store"
                aria-required="true"
              >
                <sui-select-option
                  *ngFor="let option of options"
                  [value]="option"
                  >{{ option }}
                </sui-select-option>
              </sui-select>
            </div>
            <!-- this should probably be done with an ngIf based on validation -->
            <span class="error-message fd-has-type-minus-1"
              >Fake error message</span
            >
          </div>
        </div>
      </div>
      <div fd-form-item class="row-two">
        <button class="btn-100" fd-button [options]="'emphasized'">
          Get eDealer Data
        </button>
      </div>
    </div>
  </fd-panel-body>
</fd-panel>

<div class="secondary fd-has-margin-top-small">
  <fd-panel class="mason-layout mason-layout__details">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Details</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body class="panel-body">
      <div class="fd-container fd-container--fluid">
        <div class="fd-col fd-has-margin-bottom-tiny fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-small">
            <p class="fd-has-type-minus-1 text-small">
              Store Type
            </p>
            <h5 class="fd-has-type-0 text-medium">Paint Store</h5>
          </div>
          <div class="details-container fd-has-margin-bottom-small">
            <p class="fd-has-type-minus-1 text-small">
              BDF Balance
            </p>
            <h5 class="fd-has-type-0 text-medium">$5,000.00</h5>
          </div>
          <div class="details-container fd-has-margin-bottom-small">
            <p class="fd-has-type-minus-1 text-small">
              Point of Sale
            </p>
            <h5 class=" fd-has-type-0 text-medium">Epicor</h5>
          </div>
          <div class="details-container">
            <p class="fd-has-type-minus-1 text-small">
              PPG Colorant Lines
            </p>
            <h5 class="fd-has-type-0 text-medium">PPG Glycol 96 Line</h5>
            <h5 class="fd-has-type-0 text-medium">PPG Zero VOC 9600</h5>
            <h5 class="fd-has-type-0 text-medium">888 Colorant</h5>
          </div>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
  <fd-panel class="mason-layout mason-layout__technical">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Technical Information</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body class="panel-body">
      <div class="fd-container fd-container--fluid">
        <div class="fd-col--6 fd-has-margin-bottom-tiny fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-small">
            <h5
              class="fd-has-type-0 text-medium fd-has-font-weight-bold fd-has-margin-bottom-tiny"
            >
              Tint Machine 1
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Brand
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Fluid Management
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Model
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Fluid Management - AT1600HS
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Colorant
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              C2
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Year of Machine
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              2000
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Automatic
            </p>
            <h5 class="fd-has-type-0 text-medium">No</h5>
          </div>
        </div>
        <div class="fd-col--6 fd-has-margin-bottom-tiny fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-small">
            <h5
              class="fd-has-type-0 text-medium fd-has-font-weight-bold fd-has-margin-bottom-tiny"
            >
              Tint Machine 2
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Brand
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Fluid Management
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Model
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Fluid Management - AT1600HS
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Colorant
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              C2
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Year of Machine
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              2000
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Automatic
            </p>
            <h5 class="fd-has-type-0 text-medium">No</h5>
          </div>
        </div>
      </div>
      <div class="fd-container fd-container--fluid">
        <div class="fd-col fd-has-margin-bottom-tiny fd-has-margin-top-tiny">
          <div class="details-container fd-has-margin-bottom-none">
            <h5
              class="fd-has-type-0 text-medium fd-has-font-weight-bold fd-has-margin-bottom-tiny"
            >
              Color Matching Computer 1
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Software
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Matchrite ColorDesigner Plus
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Windows OS Version
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Windows 7
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Year of System
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              2005
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Spectro Make
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Matchrite
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Spectro Model
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              200 Benchtop Spectro
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Spectro Year
            </p>
            <h5 class="fd-has-type-0 text-medium">2005</h5>
          </div>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
  <fd-panel class="mason-layout mason-layout__marketing">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Marketing Information</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body class="panel-body">
      <div class="fd-container fd-container--fluid">
        <div class="fd-col fd-has-margin-bottom-tiny fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-none">
            <p class="fd-has-type-minus-1 text-small">
              PPG Voice of Color Display
            </p>
            <h5 class="fd-has-type-0 text-medium">12' Color Gallery</h5>
          </div>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
  <fd-panel class="mason-layout mason-layout__delivery">
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Delivery Capabilities</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body class="panel-body">
      <div class="fd-container fd-container--fluid">
        <div class="fd-col--6 fd-has-margin-bottom-none fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-small">
            <p class="fd-has-type-minus-1 text-small">
              Delivery Capabilities
            </p>
            <h5 class="fd-has-type-0 text-medium">Yes</h5>
          </div>
          <div class="details-container fd-has-margin-bottom-none">
            <h5
              class="fd-has-type-0 text-medium fd-has-font-weight-bold fd-has-margin-bottom-tiny"
            >
              Vehicle #1
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Make & Model
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Ford Transit
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Year
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              2016
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Wrapped
            </p>
            <h5 class="fd-has-type-0 text-medium">Yes - PPG Logo Present</h5>
          </div>
        </div>
        <div class="fd-col--6 fd-has-margin-bottom-none fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-small">
            <p class="fd-has-type-minus-1 text-small">
              Delivery Radius
            </p>
            <h5 class="fd-has-type-0 text-medium">20 Miles</h5>
          </div>
          <div class="details-container fd-has-margin-bottom-small">
            <h5
              class="fd-has-type-0 text-medium fd-has-font-weight-bold fd-has-margin-bottom-tiny"
            >
              Vehicle #2
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Make & Model
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Ford Transit
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Year
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              2016
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Wrapped
            </p>
            <h5 class="fd-has-type-0 text-medium">Yes</h5>
          </div>
        </div>
      </div>
      <div class="fd-container fd-container--fluid">
        <div class="fd-col fd-has-margin-bottom-none fd-has-margin-top-none">
          <div class="details-container fd-has-margin-bottom-tiny">
            <h5
              class="fd-has-type-0 text-medium fd-has-font-weight-bold fd-has-margin-bottom-tiny"
            >
              Vehicle #3
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Make & Model
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              Nissan NV Cargo
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Year
            </p>
            <h5 class="fd-has-type-0 text-medium fd-has-margin-bottom-tiny">
              2009
            </h5>
            <p class="fd-has-type-minus-1 text-small">
              Wrapped
            </p>
            <h5 class="fd-has-type-0 text-medium">No</h5>
          </div>
        </div>
      </div>
    </fd-panel-body>
  </fd-panel>
</div>
