// FONTS
.secondary {
  h5.text-medium {
    color: #515559;
    margin-bottom: 0.25rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  p {
    margin-bottom: 0;
  }
}

// PANELS
.fd-panel {
  margin: 1.25rem 0 1rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.secondary .fd-panel {
  height: fit-content;
}

// INPUTS
.required-input-fields {
  margin-bottom: 4px;
  min-height: 94px;
}

// LAYOUT
.row-one {
  max-width: 900px;
}

.inline-form-inputs {
  display: flex;
  justify-content: space-between;
  & .fd-form__item {
    width: calc(50% - 4px);
  }
}
.items-container {
  &__item--color-matching:last-of-type,
  &__item--delivery {
    margin-bottom: 0 !important;
    & .details-container {
      margin-bottom: 8px !important;
    }
  }
}

@media only screen and (min-width: 768px) {
  & .fd-form__item {
    margin-bottom: 0;
  }

  .row-one {
    display: flex;
    width: 100%;
    &__col-one {
      width: 365px;
      padding-right: 16px;
    }
    &__col-two {
      flex: 1;
    }
    & .inline-form-inputs .fd-form__item {
      width: calc(50% - 8px);
    }
  }

  .row-two {
    max-width: 185px;
  }
  .secondary {
    & fd-panel {
      margin: unset;
    }
    column-count: 2;
    -webkit-column-count: 2;
    column-gap: 0;
    -webkit-column-gap: 0;
    & .mason-panel {
      &:nth-child(1) {
        padding: 0 1rem 1rem 0;
      }
      &:nth-child(2) {
        padding: 0 1rem 0 0;
      }
      &:nth-child(3) {
        padding: 0 0 1rem 0;
      }
    }
    & .mason-panel__content {
      break-inside: avoid;
      -webkit-column-break-inside: avoid;
    }
    & .items-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      &__item {
        width: calc(50% - 1rem);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .secondary {
    display: flex;
    flex-direction: column;
    & fd-panel {
      margin: unset;
    }
    & .mason-panel {
      margin: 0.5rem 0;
      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  .mason-panel {
    &--details {
      order: 1;
    }
    &--technical {
      order: 3;
    }
    &--marketing {
      order: 2;
    }
    &--delivery {
      order: 4;
    }
  }
}
