<mat-table [dataSource]="dataSource">
  <!-- Invoice Number Column -->
  <ng-container matColumnDef="invoiceNumber">
    <mat-header-cell
      fdColumnSortable
      *matHeaderCellDef
      class="fd-has-type-minus-1 th-1"
    >
      <input
        fd-form-control
        class="fd-form-control--checkbox"
        type="checkbox"
        id="checkbox-1"
        name="checkbox-name-1"
      />
      Invoice Number
    </mat-header-cell>
    <mat-cell *matCellDef="let product" class="fd-has-type-minus-1">
      <!-- stop propagation to prevent the animation from occuring if
      user just wants to click the checkbox -->
      <div class="invoice-number" (click)="$event.stopPropagation()">
        <input
          fd-form-control
          class="fd-form-control--checkbox"
          type="checkbox"
          id="checkbox-1"
          name="checkbox-name-1"
        />{{ product.invoiceNumber }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Customer Name Column -->
  <ng-container matColumnDef="customerName">
    <mat-header-cell
      fdColumnSortable
      *matHeaderCellDef
      class="fd-has-type-minus-1"
    >
      Customer Name
    </mat-header-cell>
    <mat-cell *matCellDef="let product" class="fd-has-type-minus-1">
      <div class="cell-uppercase">
        {{ product.customerName }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- Job Name Column -->
  <ng-container matColumnDef="jobName">
    <mat-header-cell
      fdColumnSortable
      *matHeaderCellDef
      class="fd-has-type-minus-1"
    >
      Job Name
    </mat-header-cell>
    <mat-cell *matCellDef="let product" class="fd-has-type-minus-1">
      <div class="cell-uppercase">
        {{ product.jobName }}
      </div>
    </mat-cell>
  </ng-container>

  <!-- PO Number Column -->
  <ng-container matColumnDef="PONumber">
    <mat-header-cell
      fdColumnSortable
      *matHeaderCellDef
      class="fd-has-type-minus-1"
    >
      PO Number
    </mat-header-cell>
    <mat-cell *matCellDef="let product" class="fd-has-type-minus-1">
      {{ product.PONumber }}
    </mat-cell>
  </ng-container>

  <!-- Invoice Total Column -->
  <ng-container matColumnDef="invoiceTotal">
    <mat-header-cell
      fdColumnSortable
      *matHeaderCellDef
      class="fd-has-type-minus-1"
    >
      Invoice Total
    </mat-header-cell>
    <mat-cell *matCellDef="let product" class="fd-has-type-minus-1">
      {{ product.invoiceTotal }}
    </mat-cell>
  </ng-container>

  <!-- Invoice Date Column -->
  <ng-container matColumnDef="invoiceDate">
    <mat-header-cell
      fdColumnSortable
      *matHeaderCellDef
      class="fd-has-type-minus-1"
    >
      Invoice Date
    </mat-header-cell>
    <mat-cell
      *matCellDef="let product; let i = index"
      class="fd-has-type-minus-1"
      >{{ product.invoiceDate }}
      <span
        [ngClass]="
          currentIndex === i
            ? 'sap-icon--navigation-right-arrow sap-icon--s expand-icon expand-animation'
            : 'sap-icon--navigation-right-arrow sap-icon--s expand-icon'
        "
      ></span>
    </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let detail">
      <div class="fd-has-type-0 expanded-details">
        <div class="expanded-details__detail-container">
          <div>
            SAP Branch Number:&nbsp;
          </div>
          <div class="expanded-details-info">
            {{ detail.product.SAPBranch }}
          </div>
        </div>
        <div class="expanded-details__detail-container">
          <div>
            Customer Number:&nbsp;
          </div>
          <div class="expanded-details-info">
            {{ detail.product.customerNumber }}
          </div>
        </div>

        <div class="expanded-details__detail-container">
          <div>
            Customer Job:&nbsp;
          </div>
          <div class="expanded-details-info">
            {{ detail.product.customerJob }}
          </div>
        </div>
        <div class="expanded-details__detail-container">
          <div>
            Invoice Type:&nbsp;
          </div>
          <div class="expanded-details-info expanded-details-info--uppercase">
            {{ detail.product.invoiceType }}
          </div>
        </div>
        <div class="expanded-details__detail-container">
          <div>
            Tender Type:&nbsp;
          </div>
          <div class="expanded-details-info expanded-details-info--uppercase">
            {{ detail.product.tenderType }}
          </div>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns; let i = index"
    matRipple
    class="product-row"
    [class.expanded]="expandedData == row"
    (click)="
      expandedData === row ? (expandedData = null) : (expandedData = row);
      currentIndex = expandedData == row ? i : null
    "
  ></mat-row>
  <mat-row
    *matRowDef="
      let row;
      columns: ['expandedDetail'];
      when: isExpansionDetailRow
    "
    [@detailExpand]="row.product == expandedData ? 'expanded' : 'collapsed'"
    style="overflow: hidden"
  >
  </mat-row>
</mat-table>
