<div fd-table-responsive-wrapper>
  <table fd-table cdk-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Pro Xtra Id Column -->
    <ng-container cdkColumnDef="proXtraId">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Pro<br />
        Xtra ID
      </th>
      <td cdk-cell *cdkCellDef="let product">{{ product.proXtraId }}</td>
    </ng-container>

    <!-- Company Column -->
    <ng-container cdkColumnDef="company">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Company
      </th>
      <td cdk-cell *cdkCellDef="let product">{{ product.company }}</td>
    </ng-container>

    <!-- Full Name Column -->
    <ng-container cdkColumnDef="fullName">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Full Name
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="full-name-container">
          {{ product.fullName }}
        </div>
      </td>
    </ng-container>

    <!-- Address Column -->
    <ng-container cdkColumnDef="address">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Address
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="address-container">
          <div class="address-item">{{ product.addressOne }},</div>
          <div class="address-item">
            {{ product.addressTwo }}
          </div>
          <div class="address-item">{{ product.city }},</div>
          <div class="address-item">{{ product.state }}</div>
          <div class="address-item">
            {{ product.zip }}
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container cdkColumnDef="email">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Email
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="email-container">
          {{ product.email }}
        </div>
      </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="phoneNumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Phone<br />
        Number
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="phone-container">
          {{ product.phoneNumber }}
        </div>
      </td>
    </ng-container>

    <!-- Sign Up Date Column -->
    <ng-container cdkColumnDef="signUpDate">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Sign Up<br />
        Date
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="sign-up-container">
          {{ product.signUpDate }}
        </div>
      </td>
    </ng-container>

    <!-- Stores Purchased From Column -->
    <ng-container cdkColumnDef="storesPurchasedFrom">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Stores<br />
        Purchased From
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.storesPurchasedFrom }}
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container cdkColumnDef="status">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Status
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="status-container">
          <div *ngIf="product.status === 'created'">
            <div fd-status-label [statusIcon]="'available'">
              Account Created
            </div>
          </div>
          <div *ngIf="product.status === 'pending'">
            <div fd-status-label [statusIcon]="'away'">
              Pending Account Creation
            </div>
          </div>
          <div *ngIf="product.status === 'none'" class="create-account">
            <button fd-button [options]="'emphasized'">Create Account</button>
          </div>
        </div>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<div class="fd-pagination">
  <span class="fd-pagination__total">30 items</span>
  <nav class="fd-pagination__nav">
    <a
      href="#"
      class="fd-pagination__link fd-pagination__link--previous"
      aria-label="Previous"
      aria-disabled="true"
    ></a>
    <a href="#" class="fd-pagination__link" aria-selected="true">1</a>
    <a href="#" class="fd-pagination__link">2</a>
    <a href="#" class="fd-pagination__link">3</a>
    <a
      href="#"
      class="fd-pagination__link fd-pagination__link--next"
      aria-label="Next"
      aria-disabled="false"
    ></a>
  </nav>
</div>
