// FONTS
td {
  font-size: 12px;
}
tr {
  vertical-align: baseline;
}

// CREATE ACCOUNT COLUMN
.create-account {
  display: flex;
  & button {
    flex: 1;
  }
}

// HAVE TO POSITION THE SORT ICON ABSOLUTELY AND DO ALL THE STYLING BELOW BECAUSE
// SAP BUILT THE TABLE HEADER SORT ICON AS A PSEUDO CLASS INSTEAD OF MARKUP USING
// FLEXBOX AND IT WILL WRAP BELOW THE TEXT IF THERE ARE MORE THAN ABOUT SIX CHARACTERS
// UNLESS WE DO THIS.

// STATUS ICON
.fd-status-label--available::after,
.fd-status-label--away::after,
.fd-status-label--busy::after,
.fd-status-label--offline::after {
  top: 2px;
}

.fd-status-label--available::before,
.fd-status-label--away::before,
.fd-status-label--busy::before,
.fd-status-label--offline::before {
  top: 6px;
}

.fd-table__sort-column::after {
  margin: 0 6px;
  position: absolute;
  top: 16px;
  right: 6px;
}

th.fd-table__sort-column {
  position: relative;
}

td.cdk-cell.cdk-column-proXtraId.ng-star-inserted,
td.cdk-cell.cdk-column-company.ng-star-inserted,
td.cdk-cell.cdk-column-fullName.ng-star-inserted {
  min-width: 100px;
}

.sign-up-container {
  min-width: 90px;
}

td.cdk-cell.cdk-column-storesPurchasedFrom.ng-star-inserted {
  min-width: 150px;
}

.full-name-container {
  max-width: 100px;
}

.address-container {
  max-width: 110px;
}

th.fd-table__sort-column.cdk-header-cell.cdk-column-status.ng-star-inserted,
.status-container {
  @media screen and (max-width: 1440px) {
    max-width: 130px;
  }
}

th {
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(9) {
    padding-top: 2px;
  }
}
