<div fd-table-responsive-wrapper>
  <table fd-table cdk-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Item Id Column -->
    <ng-container cdkColumnDef="itemId">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>Item Id</th>
      <td cdk-cell *cdkCellDef="let product">{{ product.itemId }}</td>
    </ng-container>

    <!-- Item Description Column -->
    <ng-container cdkColumnDef="itemDescription">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Item Description
      </th>
      <td cdk-cell *cdkCellDef="let product">{{ product.itemDescription }}</td>
    </ng-container>

    <!-- Current Price Column -->
    <ng-container cdkColumnDef="currentPrice">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="fd-has-text-align-right"
      >
        Current Price
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.currentPrice }}
      </td>
    </ng-container>

    <!-- Price Source Column -->
    <ng-container cdkColumnDef="priceSource">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="fd-has-text-align-right"
      >
        Price Source
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.priceSource }}
      </td>
    </ng-container>

    <!-- Final Column -->
    <ng-container cdkColumnDef="final">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        Final
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.final }}
      </td>
    </ng-container>

    <!-- MGPL Column -->
    <ng-container cdkColumnDef="mgplPrice">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="fd-has-text-align-right"
      >
        MGPL Price
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.mgplPrice }}
      </td>
    </ng-container>

    <!-- Matrix Price Column -->
    <ng-container cdkColumnDef="matrixPrice">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="fd-has-text-align-right"
      >
        Matrix Price
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.matrixPrice }}
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
