// large table
th {
  &:first-child::after {
    float: right;
  }
  &:nth-child(2)::after {
    float: right;
  }
}

.fd-table td:first-child,
.fd-table th:first-child {
  padding-left: 8px;
}
.fd-table th:last-child {
  padding-right: 8px;
}

td:nth-child(3),
td:nth-child(4),
td:nth-child(6) {
  padding-right: 16px;
}

td:nth-child(5) {
  padding-right: 12px;
}

td:nth-child(7) {
  padding-right: 14px;
}
