<div fd-table-responsive-wrapper>
  <table fd-table cdk-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Item Id Column -->
    <ng-container cdkColumnDef="itemId">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>No.</th>
      <td cdk-cell *cdkCellDef="let product">{{ product.itemId }}</td>
    </ng-container>

    <!-- Current Price Column -->
    <ng-container cdkColumnDef="currentPrice">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>Name</th>
      <td cdk-cell *cdkCellDef="let product">{{ product.currentPrice }}</td>
    </ng-container>

    <!-- Price Source Column -->
    <ng-container cdkColumnDef="priceSource">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>Weight</th>
      <td cdk-cell *cdkCellDef="let product">{{ product.priceSource }}</td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
