.fd-table {
  margin-bottom: 0;
}

// FONTS
td {
  font-size: 12px;
}
tr {
  vertical-align: baseline;
}

// HAVE TO POSITION THE SORT ICON ABSOLUTELY AND DO ALL THE STYLING BELOW BECAUSE
// SAP BUILT THE TABLE HEADER SORT ICON AS A PSEUDO CLASS INSTEAD OF MARKUP USING
// FLEXBOX AND IT WILL WRAP BELOW THE TEXT IF THERE ARE MORE THAN ABOUT SIX CHARACTERS
// UNLESS WE DO THIS.

.fd-table__sort-column::after {
  margin: 0;
  position: absolute;
  top: 16px;
  right: 6px;
}

th.fd-table__sort-column {
  position: relative;
}

.fd-table td:first-child,
.fd-table th:first-child {
  padding-left: 8px;
  width: 90px;
}

.fd-table td:nth-child(2),
.fd-table th:nth-child(2) {
  width: 86px;
}

.fd-table td:nth-child(3),
.fd-table th:nth-child(3) {
  width: 90px;
}

.fd-table td:nth-child(4),
.fd-table th:nth-child(4) {
  width: 98px;
}

.fd-table td:nth-child(5),
.fd-table th:nth-child(5) {
  width: 90px;
}

.fd-table td:nth-child(6),
.fd-table th:nth-child(6) {
  width: 90px;
}

.fd-table td:nth-child(7),
.fd-table th:nth-child(7) {
  width: 90px;
}

.fd-table td:nth-child(8),
.fd-table th:nth-child(8) {
  width: 90px;
}

.fd-table td:nth-child(9),
.fd-table th:nth-child(9) {
  width: 80px;
}

.fd-table td:nth-child(10),
.fd-table th:nth-child(10) {
  width: 80px;
}

.fd-table td:nth-child(11),
.fd-table th:nth-child(11) {
  width: 90px;
}

.fd-table td:nth-child(12),
.fd-table th:nth-child(12) {
  width: 90px;
}

.fd-table td:nth-child(13),
.fd-table th:nth-child(13) {
  width: 96px;
}

.fd-table td:nth-child(14),
.fd-table th:nth-child(14) {
  width: 80px;
}

.fd-table td:last-child,
.fd-table th:last-child {
  padding-left: 8px;
  width: 96px;
}

.th-container {
  &--job-number {
    width: 70px;
    // @media only screen and (min-width: 1440px) {
    //   width: fit-content;
    // }
  }

  &--current-balance {
    width: 70px;
    // @media only screen and (min-width: 1440px) {
    //   width: fit-content;
    // }
  }
}
