<div fd-table-responsive-wrapper>
  <table fd-table cdk-table [dataSource]="dataSource">
    <!-- Job Name Column -->
    <ng-container cdkColumnDef="jobName">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>Job Name</th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.jobName }}
      </td>
    </ng-container>

    <!-- Job Number Column -->
    <ng-container cdkColumnDef="jobNumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Job Number
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.jobNumber }}
      </td>
    </ng-container>

    <!-- Past Due Column -->
    <ng-container cdkColumnDef="pastDue">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Past Due
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.pastDue }}
      </td>
    </ng-container>

    <!-- Current Balance Column -->
    <ng-container cdkColumnDef="currentBalance">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Current Balance
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.currentBalance }}
      </td>
    </ng-container>

    <!-- Level One: 1-30 Column -->
    <ng-container cdkColumnDef="levelOne">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        1-30
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.levelOne }}
      </td>
    </ng-container>

    <!-- Level Two: 30 Column -->
    <ng-container cdkColumnDef="levelTwo">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        30
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.levelTwo }}
      </td>
    </ng-container>

    <!-- Level Three: 60 Column -->
    <ng-container cdkColumnDef="levelThree">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        60
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.levelThree }}
      </td>
    </ng-container>

    <!-- Level Four: >90 Column -->
    <ng-container cdkColumnDef="levelFour">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        >90
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.levelFour }}
      </td>
    </ng-container>

    <!-- DSO Column -->
    <ng-container cdkColumnDef="dso">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        DSO
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.dso }}
      </td>
    </ng-container>

    <!-- AR Balance Column -->
    <ng-container cdkColumnDef="arBalance">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        AR Balance
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.arBalance }}
      </td>
    </ng-container>

    <!-- Credit Limit Column -->
    <ng-container cdkColumnDef="creditLimit">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        Credit Limit
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.creditLimit }}
      </td>
    </ng-container>

    <!-- Remaining Credit Column -->
    <ng-container cdkColumnDef="remainingCredit">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        Remaining Credit
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.remainingCredit }}
      </td>
    </ng-container>

    <!-- Last Payment Amount Column -->
    <ng-container cdkColumnDef="lastPaymentAmount">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        Last Payment Amount
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.lastPaymentAmount }}
      </td>
    </ng-container>

    <!-- Account Open Date Column -->
    <ng-container cdkColumnDef="accountOpenDate">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        Account Open Date
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.accountOpenDate }}
      </td>
    </ng-container>

    <!-- Credit Terms Column -->
    <ng-container cdkColumnDef="creditTerms">
      <th cdk-header-cell *cdkHeaderCellDef class="fd-has-text-align-right">
        Credit Terms
      </th>
      <td cdk-cell *cdkCellDef="let product" class="fd-has-text-align-right">
        {{ product.creditTerms }}
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div class="fd-pagination">
    <span class="fd-pagination__total">50 items</span>
    <nav class="fd-pagination__nav">
      <a
        href="#"
        class="fd-pagination__link fd-pagination__link--previous"
        aria-label="Previous"
        aria-disabled="true"
      ></a>
      <a href="#" class="fd-pagination__link" aria-selected="true">1</a>
      <a href="#" class="fd-pagination__link">2</a>
      <a href="#" class="fd-pagination__link">3</a>
      <a
        href="#"
        class="fd-pagination__link fd-pagination__link--next"
        aria-label="Next"
        aria-disabled="false"
      ></a>
    </nav>
  </div>
</div>
