<div fd-table-responsive-wrapper>
  <table fd-table cdk-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Inoive Number Column -->
    <ng-container cdkColumnDef="invoiceNumber">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="invoice-number__header"
      >
        <input
          fd-form-control
          class="fd-form-control__checkbox"
          type="checkbox"
          id=""
          name=""
        />Invoice Number
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="invoice-number__content">
          <input
            fd-form-control
            class="fd-form-control__checkbox"
            type="checkbox"
            id=""
            name=""
          />
          <span>
            {{ product.invoiceNumber }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- SAP Branch Column -->
    <ng-container cdkColumnDef="SAPBranch">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        SAP Branch<br />Number
      </th>
      <td cdk-cell *cdkCellDef="let product">{{ product.SAPBranch }}</td>
    </ng-container>

    <!-- Customer Number Column -->
    <ng-container cdkColumnDef="customerNumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Customer<br />Number
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.customerNumber }}
      </td>
    </ng-container>

    <!-- Customer Name Column -->
    <ng-container cdkColumnDef="customerName">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Customer<br />Name
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="uppercase customer-name">
          {{ product.customerName }}
        </div>
      </td>
    </ng-container>

    <!-- Job Name Column -->
    <ng-container cdkColumnDef="jobName">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>Job Name</th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="uppercase job-name">{{ product.jobName }}</div>
      </td>
    </ng-container>

    <!-- PO Number Column -->
    <ng-container cdkColumnDef="PONumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef class="po-header">
        PO Number
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="po-number">{{ product.PONumber }}</div>
      </td>
    </ng-container>

    <!-- Customer Job Column -->
    <ng-container cdkColumnDef="customerJob">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Customer<br />Job
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="customer-job">
          {{ product.customerJob }}
        </div>
      </td>
    </ng-container>

    <!-- Invoice Type Column -->
    <ng-container cdkColumnDef="invoiceType">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Invoice Type
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="uppercase">
          {{ product.invoiceType }}
        </div>
      </td>
    </ng-container>

    <!-- Tender Type Column -->
    <ng-container cdkColumnDef="tenderType">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Tender Type
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="uppercase">
          {{ product.tenderType }}
        </div>
      </td>
    </ng-container>

    <!-- Invoice Total Column -->
    <ng-container cdkColumnDef="invoiceTotal">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="invoice-total__header"
      >
        Invoice Total
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="invoice-total__content">
          {{ product.invoiceTotal }}
        </div>
      </td>
    </ng-container>
    <!-- Invoice Date Column -->
    <ng-container cdkColumnDef="invoiceDate">
      <th
        fdColumnSortable
        cdk-header-cell
        *cdkHeaderCellDef
        class="invoice-date__header"
      >
        Invoice Date
      </th>
      <td cdk-cell *cdkCellDef="let product">
        <div class="invoice-date invoice-date__content">
          {{ product.invoiceDate }}
        </div>
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
