// FONTS
td {
  font-size: 12px;
}
tr {
  vertical-align: baseline;
}

.uppercase {
  text-transform: uppercase;
}

// HAVE TO POSITION THE SORT ICON ABSOLUTELY AND DO ALL THE STYLING BELOW BECAUSE
// SAP BUILT THE TABLE HEADER SORT ICON AS A PSEUDO CLASS INSTEAD OF MARKUP USING
// FLEXBOX AND IT WILL WRAP BELOW THE TEXT IF THERE ARE MORE THAN ABOUT SIX CHARACTERS
// UNLESS WE DO THIS.

.fd-table__sort-column::after {
  margin: 0 6px;
  position: absolute;
  top: 16px;
  right: 6px;
}

th.fd-table__sort-column {
  position: relative;
}

th {
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(9) {
    padding-top: 2px;
  }
}

.invoice-number__content {
  color: #0a6ed1;
  &:hover {
    text-decoration: underline;
  }
}

// CHECKBOX
.fd-form-control__checkbox {
  margin-right: 4px;
  margin-bottom: 2px;
}

.invoice-number__content {
  display: flex;
  max-width: 120px;
  & input[type='checkbox'] {
    vertical-align: top;
  }
}

.invoice-number__header {
  width: 180px;
}

// CONTAINERS
.po-number {
  width: 70px;
}

.customer-name,
.job-name,
.customer-job {
  max-width: 100px;
}

.invoice-total {
  &__header {
    width: 110px;
  }
  &__content {
    width: 110px;
  }
}

.invoice-date {
  &__header {
    width: 110px;
  }
  &__content {
    width: 110px;
  }
}
