<div fd-table-responsive-wrapper>
  <table fd-table cdk-table [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Inoive Number Column -->
    <ng-container cdkColumnDef="invoiceNumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Invoice<br />Number
      </th>
      <td cdk-cell *cdkCellDef="let product">{{ product.invoiceNumber }}</td>
    </ng-container>

    <!-- SAP Branch Column -->
    <ng-container cdkColumnDef="SAPBranch">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        SAP Branch<br />Number
      </th>
      <td cdk-cell *cdkCellDef="let product">{{ product.SAPBranch }}</td>
    </ng-container>

    <!-- Customer Number Column -->
    <ng-container cdkColumnDef="customerNumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Customer<br />Number
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.customerNumber }}
      </td>
    </ng-container>

    <!-- Customer Name Column -->
    <ng-container cdkColumnDef="customerName">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Customer<br />Name
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.customerName }}
      </td>
    </ng-container>

    <!-- Job Name Column -->
    <ng-container cdkColumnDef="jobName">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>Job<br />Name</th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.jobName }}
      </td>
    </ng-container>

    <!-- PO Number Column -->
    <ng-container cdkColumnDef="PONumber">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>PO<br />Number</th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.PONumber }}
      </td>
    </ng-container>

    <!-- Customer Job Column -->
    <ng-container cdkColumnDef="customerJob">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Customer<br />Job
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.customerJob }}
      </td>
    </ng-container>

    <!-- Invoice Type Column -->
    <ng-container cdkColumnDef="invoiceType">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Invoice<br />
        Type
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.invoiceType }}
      </td>
    </ng-container>

    <!-- Tender Type Column -->
    <ng-container cdkColumnDef="tenderType">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Tender<br />
        Type
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.tenderType }}
      </td>
    </ng-container>

    <!-- Invoice Total Column -->
    <ng-container cdkColumnDef="invoiceTotal">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Invoice<br />
        Total
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.invoiceTotal }}
      </td>
    </ng-container>
    <!-- Invoice Date Column -->
    <ng-container cdkColumnDef="invoiceDate">
      <th fdColumnSortable cdk-header-cell *cdkHeaderCellDef>
        Invoice<br />
        Date
      </th>
      <td cdk-cell *cdkCellDef="let product">
        {{ product.invoiceDate }}
      </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
    <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
