// FORM CONTAINER
.inline-form-inputs {
  display: flex;
  justify-content: space-between;
  & .fd-form__item {
    width: calc(50% - 4px);
  }
}

.fd-form__set .last-item {
  margin-bottom: 0.5rem;
}

.required-input-fields {
  margin-bottom: 4px;
  min-height: 84px;
}

// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.panel-body {
  &.panel-body--secondary {
    padding: 1rem 0 0 0;
  }
}

// RESET LINK
.reset-link {
  cursor: pointer;
}

// HIDE ELEMENTS ON MOBILE
.button-one,
.reset-link {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

// BUTTONS
.button-two {
  @media only screen and (max-width: 767px) {
    margin-bottom: 8px;
  }
}

// LOOKUP LABEL
.lookup-label {
  &--mobile {
    @media only screen and (min-width: 768px) {
      display: none;
    }
  }
  &--large {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

.panel-body--main {
  @media only screen and (min-width: 768px) {
    .row-one {
      width: 100%;
      max-width: 500px;

      & .inline-form-inputs {
        & .fd-form__item {
          width: calc(50% - 8px);
        }
      }
    }

    .row-two {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 768px;
      & .fd-form__item {
        &:first-child {
          width: 500px;
          margin-right: 16px;
        }
        &:nth-child(2) {
          margin-bottom: 4px;
        }
        &:nth-child(3) {
          width: 25%;
          max-width: 230px;
          margin-right: 16px;
        }
        &:nth-child(4) {
          width: 25%;
          margin-bottom: 16px;
          & p {
            text-align: left !important;
          }
        }
      }
    }
  }
}
