.mat-toolbar {
  height: 48px !important;
  background-color: #354a5f;
  color: #ffffff;
  & .company-name {
    color: #ffffff;
    font-size: 18px;
    font-family: '72';
    font-weight: 300;
  }
  & .navbar-logo {
    height: 34px;
  }
  & .spacer {
    flex: 1 1 auto;
  }
  & button.mat-icon-button {
    top: -1px;
  }
}

.mat-sidenav-container {
  min-height: calc(100vh - 48px) !important;
}

.mat-sidenav {
  width: 67.5vw;
  max-width: 350px;

  & .sidenav-list {
    & a {
      color: #32363a;
      font-family: '72';
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      padding: 1rem;
      width: 10rem;
      &.mat-button {
        text-align: start;
      }
    }
  }
}
