<div class="landing-page">
  <mat-toolbar>
    <img
      routerLink="/pricing-lookup"
      class="navbar-logo"
      src="assets/images/PPG_Blue_Bug.png"
      alt="PPG logo"
      (click)="
        opened ? sidenav.toggle() && (opened = !opened) && activeLink : null;
        activeLink = links[0]
      "
    />
    <span class="spacer"></span>
    <a class="company-name">
      <span>Reportal</span>
    </a>
    <span class="spacer"></span>
    <div class="hamburger">
      <button mat-icon-button (click)="sidenav.toggle(); opened = !opened">
        <mat-icon *ngIf="!opened">menu</mat-icon>
        <mat-icon *ngIf="opened">close</mat-icon>
      </button>
    </div>
  </mat-toolbar>
  <mat-sidenav-container
    fxFlexFill
    class="example-container"
    (click)="toggleIcon()"
  >
    <mat-sidenav
      #sidenav
      position="end"
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
      (click)="opened ? sidenav.toggle() && (opened = !opened) : null"
    >
      <div class="sidenav-list" fxLayout="column">
        <a
          mat-button
          routerLink="/pricing-lookup"
          (click)="sidenav.toggle(); opened = !opened; activeLink = links[0]"
          >Pricing Lookup</a
        >
        <a
          mat-button
          routerLink="/credit-overview"
          (click)="sidenav.toggle(); opened = !opened; activeLink = links[1]"
          >Credit Overview</a
        >
        <a
          mat-button
          routerLink="/inventory-lookup"
          (click)="sidenav.toggle(); opened = !opened; activeLink = links[2]"
          >Inventory Lookup</a
        >
        <a
          mat-button
          routerLink="/invoice-lookup"
          (click)="sidenav.toggle(); opened = !opened; activeLink = links[3]"
          >Invoice Lookup</a
        >
        <a
          mat-button
          routerLink="/eDealer"
          (click)="sidenav.toggle(); opened = !opened; activeLink = links[4]"
          >eDealer Data</a
        >
        <a
          mat-button
          routerLink="/thd-prospects"
          (click)="sidenav.toggle(); opened = !opened; activeLink = links[5]"
          >THD Prospects</a
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <div *ngIf="currentWindowWidth >= 960">
        <nav mat-tab-nav-bar>
          <a
            mat-tab-link
            *ngFor="let link of links"
            (click)="activeLink = link"
            [routerLink]="link.path"
            [active]="activeLink == link"
          >
            {{ link.label }}
          </a>
        </nav>
      </div>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
