<!-- <h4>fake nav test</h4>
<a routerLink="pricing-lookup" style="margin-right: 1rem;">pricing lookup</a>
<a routerLink="thd-prospects" style="margin-right: 1rem;">thd prospects</a>
<a routerLink="eDealer">eDealer data</a> -->

<div>
  <mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="/">
      <span>Reportal</span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/pricing-lookup">Pricing Lookup</a>
      <a mat-button routerLink="/thd-prospects">THD Prospects</a>
      <a mat-button routerLink="/eDealer">eDealer Data</a>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      position="end"
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div fxLayout="column">
        <a mat-button routerLink="/pricing-lookup">Pricing Lookup</a>
        <a mat-button routerLink="/thd-prospects">THD Prospects</a>
        <a mat-button routerLink="/eDealer">eDealer Data</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
