<div>
  <mat-toolbar>
    <img
      routerLink="/"
      class="navbar-logo"
      src="assets/images/PPG_Blue_Bug.png"
      alt="PPG logo"
      (click)="opened ? sidenav.toggle() && (opened = !opened) : null"
    />
    <span class="spacer"></span>
    <a class="company-name">
      <span>Reportal</span>
    </a>
    <span class="spacer"></span>
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle(); opened = !opened">
        <mat-icon *ngIf="!opened">menu</mat-icon>
        <mat-icon *ngIf="opened">close</mat-icon>
      </button>
    </div>
    <!-- <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/pricing-lookup">Pricing Lookup</a>
      <a mat-button routerLink="/thd-prospects">THD Prospects</a>
      <a mat-button routerLink="/eDealer">eDealer Data</a>
    </div> -->
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav
      color="primary"
      #sidenav
      position="end"
      fxLayout="column"
      mode="over"
      opened="false"
      fxHide.gt-sm="true"
    >
      <div class="sidenav-list" fxLayout="column">
        <a
          mat-button
          routerLink="/pricing-lookup"
          (click)="sidenav.toggle(); opened = !opened"
          >Pricing Lookup</a
        >
        <a
          mat-button
          routerLink="/thd-prospects"
          (click)="sidenav.toggle(); opened = !opened"
          >THD Prospects</a
        >
        <a
          mat-button
          routerLink="/eDealer"
          (click)="sidenav.toggle(); opened = !opened"
          >eDealer Data</a
        >
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <main>
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
