.mat-toolbar {
  height: 42px;
  min-height: 3.25vh;
  background-color: #354a5f;
  color: #ffffff;
  & .company-name {
    color: #ffffff;
    font-size: 18px;
    font-family: '72';
    font-weight: 300;
  }
}

.mat-sidenav-container {
  min-height: 96.75vh !important;
}

.mat-sidenav {
  width: 67.7vw;

  & .sidenav-list {
    align-items: flex-start;
    & a {
      color: #32363a;
      font-family: '72';
      font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      margin-top: 1.25rem;
    }
  }
}

.navbar-logo {
  height: 30px;
}

.spacer {
  flex: 1 1 auto;
}
