// FONTS
.customer-name {
  color: #0a6ed1;
  &:hover {
    text-decoration: underline;
  }
}

// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  & .fd-panel__head {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  & .fd-panel__actions {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    & button:first-child {
      margin-right: 8px;
    }
  }
}

.panel-body {
  &.panel-body--secondary {
    padding: 0;
  }
}

// CONTAINERS
.customer-status {
  display: flex;
}

// SMALL TABLE
.mat-table {
  // CREDIT ICONS
  .credit {
    &--open::before {
      color: #107f3e;
    }
    &--approaching::before {
      color: #e9730c;
    }
    &--over::before {
      color: #bb0000;
    }
    &--locked::before {
      color: #bb0000;
    }
  }

  .th-container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    & .th-header {
      padding-right: 6px;
    }
  }

  .expanded-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    &__detail-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: 8px;
    flex: 1.75;
  }

  mat-header-cell:nth-child(2) {
    justify-content: flex-start;
    padding-left: 24px;
    padding-right: 36px;
  }

  .mat-cell {
    &:last-of-type {
      display: flex;
      justify-content: flex-end;
    }
    &.cdk-column-expandedDetail {
      background-color: #fafafa;
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .expanded-details {
        color: #6a6d70;
      }
      & .expanded-details-info {
        color: #515559;
      }
    }
  }

  .product-row:not(.expanded) {
    cursor: pointer;
  }

  .product-row:not(.expanded):hover {
    background: #f5f5f5;
  }

  .fd-table__sort-column::after {
    content: unset;
    display: none;
  }

  .element-row {
    position: relative;
  }

  .mat-cell:last-of-type {
    padding-right: 0;
    & .expand-icon {
      width: 36px;
      text-align: center;
      color: #0a6ed1;
      transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      &.expand-animation {
        transform: rotate(90deg);
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
