<h4 class="fd-has-type-4">Credit Overview</h4>

<div>
  <fd-panel>
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Customer Collections (As of March 02, 2019)</h2>
      </fd-panel-head>
      <fd-panel-actions>
        <button fd-button [glyph]="'pdf-attachment'">Export to Excel</button>
        <button fd-button [glyph]="'print'">Print</button>
      </fd-panel-actions>
    </fd-panel-header>
    <fd-panel-body class="panel-body panel-body--secondary">
      <div *ngIf="currentWindowWidth < 1024">
        <mat-table #table [dataSource]="dataSource">
          <!-- Customer Name Column -->
          <ng-container matColumnDef="companyName">
            <mat-header-cell
              fdColumnSortable
              *matHeaderCellDef
              class="fd-has-type-minus-1 th-1"
            >
              <div class="th-container">
                <div class="th-header">
                  Customer Name
                </div>
                <div>
                  <span class="sap-icon--sorting-ranking sap-icon--s"></span>
                </div>
              </div>
            </mat-header-cell>
            <mat-cell
              *matCellDef="let product"
              class="fd-has-type-minus-1 visible-td-status"
            >
              <div *ngIf="product.status === 'open'" class="customer-status">
                <div
                  fd-status-label
                  [icon]="'unlocked'"
                  class="fd-has-type-minus-1 credit--open"
                ></div>
                <div class="customer-name" (click)="$event.stopPropagation()">
                  {{ product.companyName }}
                </div>
              </div>
              <div
                *ngIf="product.status === 'approaching'"
                class="customer-status"
              >
                <div
                  fd-status-label
                  [icon]="'message-warning'"
                  class="fd-has-type-minus-1 credit--approaching"
                ></div>
                <div class="customer-name" (click)="$event.stopPropagation()">
                  {{ product.companyName }}
                </div>
              </div>
              <div *ngIf="product.status === 'over'" class="customer-status">
                <div
                  fd-status-label
                  [icon]="'message-warning'"
                  class="fd-has-type-minus-1 credit--over"
                ></div>
                <div class="customer-name" (click)="$event.stopPropagation()">
                  {{ product.companyName }}
                </div>
              </div>
              <div *ngIf="product.status === 'locked'" class="customer-status">
                <div
                  fd-status-label
                  [icon]="'locked'"
                  class="fd-has-type-minus-1 credit--locked"
                ></div>
                <div class="customer-name" (click)="$event.stopPropagation()">
                  {{ product.companyName }}
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <!-- Total Past Due Column -->
          <ng-container matColumnDef="pastDueTotal">
            <mat-header-cell
              fdColumnSortable
              *matHeaderCellDef
              class="fd-has-type-minus-1"
            >
              <div class="th-container">
                <div class="th-header">
                  Total Past Due
                </div>
                <div>
                  <span class="sap-icon--sorting-ranking sap-icon"></span>
                </div></div
            ></mat-header-cell>
            <mat-cell
              *matCellDef="let product; let i = index"
              class="fd-has-type-minus-1"
              >{{ product.pastDueTotal }}
              <span
                [ngClass]="
                  currentIndex === i
                    ? 'sap-icon--navigation-right-arrow sap-icon--s expand-icon expand-animation'
                    : 'sap-icon--navigation-right-arrow sap-icon--s expand-icon'
                "
              ></span>
            </mat-cell>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let detail">
              <div class="fd-has-type-0 expanded-details">
                <div class="expanded-details__detail-container">
                  <div>
                    Customer Number:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.customerNumber }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Total Credit Limit:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.totalCreditLimit }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Total Remaining Credit:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.totalRemainingCredit }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Total Current Balance:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.totalCurrentBalance }}
                  </div>
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns; let i = index"
            matRipple
            class="product-row"
            [class.expanded]="expandedData == row"
            (click)="
              expandedData === row
                ? (expandedData = null)
                : (expandedData = row);
              currentIndex = expandedData == row ? i : null
            "
          ></mat-row>
          <mat-row
            *matRowDef="
              let row;
              columns: ['expandedDetail'];
              when: isExpansionDetailRow
            "
            [@detailExpand]="
              row.product == expandedData ? 'expanded' : 'collapsed'
            "
            style="overflow: hidden"
          >
          </mat-row>
        </mat-table>
        <div class="fd-pagination">
          <span class="fd-pagination__total">30 items</span>
          <nav class="fd-pagination__nav">
            <a
              href="#"
              class="fd-pagination__link fd-pagination__link--previous"
              aria-label="Previous"
              aria-disabled="true"
            ></a>
            <a href="#" class="fd-pagination__link" aria-selected="true">1</a>
            <a href="#" class="fd-pagination__link">2</a>
            <a href="#" class="fd-pagination__link">3</a>
            <a
              href="#"
              class="fd-pagination__link fd-pagination__link--next"
              aria-label="Next"
              aria-disabled="false"
            ></a>
          </nav>
        </div>
      </div>
      <div *ngIf="currentWindowWidth >= 1024">
        <app-credit-overview-table-large></app-credit-overview-table-large>
      </div>
    </fd-panel-body>
  </fd-panel>
</div>
