// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.panel-body {
  &.panel-body--secondary {
    padding: 0;
  }
}

// CONTAINER

.job-number-wrap {
  word-break: break-all;
  @media only screen and (max-width: 400px) {
    max-width: 60px;
  }
}

// SMALL TABLE
.mat-table {
  .th-container {
    display: flex;
    align-items: baseline;
    & .th-header {
      padding-right: 6px;
    }
    &.col-3 {
      width: 100%;
      justify-content: space-between;
    }
  }

  .expanded-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    &__detail-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  mat-cell:first-of-type,
  mat-footer-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: 8px;
  }

  mat-header-cell:last-of-type {
    padding-right: 34px;
  }

  mat-header-cell:nth-child(2) {
    justify-content: flex-start;
    padding-left: 24px;
  }

  mat-header-cell:nth-child(3) {
    padding-left: 16px;

    @media only screen and (min-width: 768px) {
      padding-right: 72px;
    }
  }

  mat-cell:nth-child(2) {
    @media only screen and (min-width: 768px) {
      padding-right: 36px;
    }
  }

  .mat-cell {
    &:last-of-type {
      display: flex;
      justify-content: flex-end;
    }
    &.cdk-column-expandedDetail {
      background-color: #fafafa;
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .expanded-details {
        color: #6a6d70;
      }
      & .expanded-details-info {
        color: #515559;
      }
    }
    & span {
      @media only screen and (min-width: 768px) {
        margin-left: 36px;
      }
    }
  }

  .product-row:not(.expanded) {
    cursor: pointer;
  }

  .product-row:not(.expanded):hover {
    background: #f5f5f5;
  }

  .fd-table__sort-column::after {
    content: unset;
    display: none;
  }

  .element-row {
    position: relative;
  }

  .mat-cell:last-of-type {
    padding-right: 0;
    & .expand-icon {
      width: 36px;
      text-align: center;
      color: #0a6ed1;
      transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      &.expand-animation {
        transform: rotate(90deg);
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
