// FONTS
.store-name {
  text-transform: uppercase;
}

// PANELS
.fd-panel {
  margin: 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.panel-body {
  &.panel-body--secondary {
    padding: 0;
  }
}

// SMALL TABLE
.mat-table {
  mat-cell {
    &:first-of-type {
      word-break: break-word;
    }
  }
  mat-cell:last-of-type,
  mat-header-cell:last-of-type {
    padding-right: 0;
  }

  mat-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: 8px;
    max-width: 200px;
  }
}
