<div>
  <fd-panel>
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Distribution Center Stock</h2>
      </fd-panel-head>
    </fd-panel-header>
    <fd-panel-body class="panel-body panel-body--secondary">
      <div *ngIf="currentWindowWidth < 768">
        <mat-table #table [dataSource]="dataSource">
          <!-- Store Name Column -->
          <ng-container matColumnDef="storeName">
            <mat-header-cell *matHeaderCellDef class="fd-has-type-minus-1">
              Distribution Center
            </mat-header-cell>
            <mat-cell *matCellDef="let product" class="fd-has-type-minus-1"
              ><div class="store-name">
                {{ product.storeName }}
              </div>
            </mat-cell>
          </ng-container>

          <!-- Item Number Column -->
          <ng-container matColumnDef="itemNumber">
            <mat-header-cell *matHeaderCellDef class="fd-has-type-minus-1">
              6-411/01
            </mat-header-cell>
            <mat-cell *matCellDef="let product" class="fd-has-type-minus-1"
              >{{ product.itemCount }}
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <div class="fd-pagination">
          <span class="fd-pagination__total">9 Items</span>
        </div>
      </div>
      <div *ngIf="currentWindowWidth >= 768">
        <app-inventory-lookup-distribution-table-large></app-inventory-lookup-distribution-table-large>
      </div>
    </fd-panel-body>
  </fd-panel>
</div>
