// FONTS
td {
  font-size: 12px;
}
tr {
  vertical-align: baseline;
}

.customer-name {
  color: #0a6ed1;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

// HAVE TO POSITION THE SORT ICON ABSOLUTELY AND DO ALL THE STYLING BELOW BECAUSE
// SAP BUILT THE TABLE HEADER SORT ICON AS A PSEUDO CLASS INSTEAD OF MARKUP USING
// FLEXBOX AND IT WILL WRAP BELOW THE TEXT IF THERE ARE MORE THAN ABOUT SIX CHARACTERS
// UNLESS WE DO THIS.

.fd-table__sort-column::after {
  // margin: 0 6px;
  margin: 0;
  position: absolute;
  top: 16px;
  right: 6px;
}

th.fd-table__sort-column {
  position: relative;
}

.fd-table td:first-child,
.fd-table th:first-child {
  padding-left: 8px;
  min-width: 140px;
}

.fd-table td:nth-child(2),
.fd-table th:nth-child(2) {
  min-width: 94px;
}

.fd-table td:nth-child(3),
.fd-table th:nth-child(3) {
  width: 100px;
}

.fd-table td:nth-child(4),
.fd-table th:nth-child(4) {
  width: 100px;
}

.fd-table td:nth-child(5),
.fd-table th:nth-child(5) {
  width: 100px;
}

.fd-table td:nth-child(6),
.fd-table th:nth-child(6) {
  width: 100px;
}

.fd-table td:nth-child(7),
.fd-table th:nth-child(7) {
  min-width: 90px;
}

.fd-table td:nth-child(8),
.fd-table th:nth-child(8) {
  min-width: 90px;
}

.fd-table td:nth-child(9),
.fd-table th:nth-child(9) {
  min-width: 90px;
}

.fd-table td:nth-child(10),
.fd-table th:nth-child(10) {
  min-width: 90px;
}

.fd-table td:last-child,
.fd-table th:last-child {
  padding-right: 8px;
}

.th-container {
  &--customer-number {
    width: 70px;
  }
  &--credit-limit {
    width: 70px;
  }
  &--remaining-credit {
    width: 70px;
  }
  &--past-due {
    width: 70px;
  }
  &--current-balance {
    width: 70px;
  }
}

// CONTAINERS
.customer-status {
  display: flex;
  align-items: baseline;

  & .fd-status-label::before {
    font-size: 16px;
    margin-right: 4px;
  }
}

// CREDIT ICONS
.credit {
  &--open::before {
    color: #107f3e;
  }
  &--approaching::before {
    color: #e9730c;
  }
  &--over::before {
    color: #bb0000;
  }
  &--locked::before {
    color: #bb0000;
  }
}
