// not using this but the console gets angry if there isn't a theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// FONTS

// landing page tab labels
.landing-page {
  .mat-tab-link {
    color: #74777a;
    font-family: '72';
    font-size: 14px;
    opacity: 1;
    transition: all 225ms;
    &:hover {
      color: #085caf;
      transition: all 225ms;
    }
    &:focus {
      color: #0a6ed1;
      transition: all 225ms;
    }
  }
  .mat-tab-label-active {
    color: #0a6ed1;
    transition: all 225ms;
  }
}

// table
.mat-table {
  .th-header {
    line-height: 1;
  }
  .mat-header-cell,
  .mat-cell {
    font-family: '72';
    &.fd-has-type-minus-1.fd-has-text-align-right {
      font-size: 12px;
      color: rgb(50, 54, 58);
    }
    &.fd-has-type-minus-1 {
      font-size: 12px;
      color: rgb(50, 54, 58);
    }
    &.cdk-column-expandedDetail.mat-column-expandedDetail {
      padding: 1rem !important;
      & .expanded-details > div {
        margin-bottom: 4px;
      }
    }
  }
  .mat-header-cell.fd-has-type-minus-1 {
    color: #74777a;
    text-transform: uppercase;
    font-weight: 400;
  }
}

th {
  text-transform: uppercase;
}

// panel text
.panel-body {
  & .fd-has-type-minus-1 {
    color: #6a6d70;
  }
  & mat-cell.fd-has-type-minus-1 {
    color: unset;
  }
}

// error messages
.error-message.fd-has-type-minus-1 {
  color: #bb0000;
  // fake: this should probably be done with an ngIf wrapped
  // around the span and based on validation so delete the display
  // none line after that's been written
  display: none;
}

.fd-form__label {
  margin-bottom: 4px;
}

.fd-has-type-minus-1.hint-text {
  color: #74777a;
  margin-bottom: 0;
  margin-top: 0.25rem;
}

// placeholder for inputs
.ui.dropdown:not(.button) > .default.text {
  color: rgb(137, 145, 154);
}

// REQUIRED ASTERISK
.required:after {
  content: ' *';
  color: #bb0000;
}

// MAIN CONTAINER
main {
  margin: 1.5rem 1rem 1rem 1rem;
  // not sure this is a great idea considering the
  // amount of content in the tables
  // @media screen and (min-width: 1400px) {
  //   margin: 1.5rem 2rem 0 2rem;
  // }
}

// LANDING PAGE TAB CONTAINER
.mat-tab-label-container {
  background-color: rgb(255, 255, 255);
}

// SIDENAV OVERLAY
.mat-drawer-backdrop {
  @media only screen and (min-width: 960px) {
    visibility: hidden !important;
  }
}

// TABS
.landing-page {
  .mat-tab-nav-bar .mat-ink-bar {
    background-color: #0a6ed1;
    min-width: 120px !important;
  }
}

// PANElS
.fd-panel {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

// FORMS - INPUTS
.panel-body--main {
  &__pricing {
    fd-combobox {
      &.custom-combo span {
        display: none;
      }
      &.custom-combo .fd-input-group--after input[type='text'] {
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }

    input {
      &.fd-form__control {
        height: 38px;
      }
      &.fd-input {
        height: 38px;
      }
    }

    .fd-input-group {
      & input {
        height: 38px;
      }
      & .fd-input-group__addon {
        height: 38px;
      }
    }
  }
  &__thd {
    input {
      &.fd-form__control {
        height: 38px;
      }
      &.fd-input {
        height: 38px;
      }
    }

    .fd-input-group {
      & input {
        height: 38px;
      }
      & .fd-input-group__addon {
        height: 38px;
      }
    }
  }
  &__edealer {
    input {
      &.fd-form__control {
        height: 38px;
      }
      &.fd-input {
        height: 38px;
      }
    }

    .fd-input-group {
      & input {
        height: 38px;
      }
      & .fd-input-group__addon {
        height: 38px;
      }
    }
  }
}

// CUSTOM INPUTS
.panel-body--main {
  &__pricing,
  &__edealer {
    .ui.search.selection.dropdown > input.search {
      padding-left: 10px;
      left: 0;
      width: calc(100% - 37px);
      &:focus {
        box-shadow: 0 0 0 1px #0a6ed1 !important;
        border: 1px solid #0a6ed1 !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    sui-select.selection.ui.dropdown {
      width: 100%;
      border: 1px solid rgb(135, 144, 154);
      height: 36px;
      line-height: 1;
      padding-left: 10px;

      &:hover {
        border: 1px solid rgb(49, 109, 168);
      }
      &.search.active {
        border: 1px solid rgb(137, 145, 154);
      }

      &.ui.selection.dropdown {
        min-width: 4rem;
      }
      &.ui.active.selection.dropdown {
        border-bottom-left-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
      }
    }

    .ui.icon.input {
      width: 100%;
    }
    .ui.selection.dropdown .menu {
      width: auto;
      min-width: calc(100% + 1px);
      margin-left: 1px !important;
    }

    .ui.selection.active.dropdown:hover .menu,
    .ui.selection.active.dropdown.active .menu {
      border-color: rgb(137, 145, 154);
      border: 1px solid rgb(137, 145, 154);
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      border-top-width: 1px !important;
      width: auto;
    }
  }
  .ui.selection.dropdown > .dropdown.icon {
    color: #0a6ed1;
    background-color: rgb(249, 249, 249);
    opacity: 0.85;
    font-size: 20px;
    width: 36px;
    height: 2.545rem;
    line-height: 1.85;
    top: 10px;
    right: 0.6975rem;
    z-index: 3;
    margin: -0.7rem -0.625rem;
    padding: 0;
    border-left: 1px solid rgb(116, 136, 157);
  }
}

// BUTTONS
button.btn-100 {
  height: 38px;
  max-height: 38px;
  width: 100%;
  &.item-lookup {
    padding-left: 6px;
  }
}
.fd-button::before,
[class*='fd-button--']::before,
a[class*='fd-button--']::before {
  font-size: 14px;
  margin-right: 2px;
  margin-bottom: 1px;
}

.fd-button.sap-icon--navigation-down-arrow:hover,
.fd-input-group__addon.fd-input-group__addon--after:hover {
  border-color: #085caf;
}

// ICONS
.sap-icon--search {
  color: #0a6ed1;
}

// TABLE
.mat-table {
  .mat-header-row {
    background-color: rgb(250, 250, 250);
  }
}

.fd-table__sort-column::after {
  margin: 0 6px;
}

// TABLE PAGINATION
.fd-pagination {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

// TABLE HEADER/DATA TEXT ALIGNMENT: BECAUSE OF IE.
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .mat-header-row,
  .mat-row {
    -ms-flex-align: stretch;
  }
  .cdk-table {
    & tr.cdk-row {
      vertical-align: top;
    }
  }
}
