// not using this but the console gets angry if there isn't a theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// body {
//   @media only screen and (max-width: 768px) {
//     background-color: var(--fd-color-background-2);
//   }
// }

// FONTS
.mat-table {
  .th-header {
    line-height: 1;
  }
  .mat-header-cell,
  .mat-cell {
    font-family: '72';
    &.fd-has-type-minus-1.fd-has-text-align-right {
      font-size: 12px;
      color: var(--fd-color-text-2);
    }
  }
  .mat-header-cell.fd-has-type-minus-1 {
    color: var(--fd-color-text-4);
    text-transform: uppercase;
    font-weight: 400;
  }
}

.panel-body {
  & .fd-has-type-minus-1 {
    color: var(--fd-color-text-3);
  }
}

.error-message {
  color: var(--fd-color-status-3);
  // fake: this should probably be done with an ngIf wrapped
  // around the span and based on validation so delete the display
  // none line after that's been done
  display: none;
}

// MAIN CONTAINER
main {
  margin: 2rem 0.85rem;
}

// FORM CONTAINER
.inline-form-inputs {
  display: flex;
  justify-content: space-between;
  // update
  & .fd-form__item {
    width: calc(50% - 4px);
  }
}

.required-input-fields {
  margin-bottom: 4px;
  min-height: 84px;
}
.fd-form__item:last-child {
  margin-bottom: 16px;
}

// FORMS - INPUTS
fd-combobox {
  &.custom-combo span {
    display: none;
  }
  &.custom-combo .fd-input-group--after input[type='text'] {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
}

input {
  &.fd-form__control {
    height: 38px;
  }
  &.fd-input {
    height: 38px;
  }
}

.fd-input-group {
  & input {
    height: 38px;
  }
  & .fd-input-group__addon {
    height: 38px;
  }
}

// CUSTOM INPUTS
sui-select.selection.ui.dropdown {
  width: 100%;
  border: 1px solid rgb(135, 144, 154);
  height: 36px;
  line-height: 1;
  &:hover {
    border: 1px solid rgb(49, 109, 168);
  }
  &.search.active {
    border: 1px solid rgb(137, 145, 154);
  }

  &.ui.selection.dropdown {
    min-width: 4rem;
    & > .dropdown.icon {
      display: none;
    }
  }
}
.ui.icon.input {
  width: 100%;
  & .icon.custom-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 2.7rem;
    border-left: 1px solid var(--fd-forms-border-color);
    color: rgb(23, 112, 206);
    padding-top: 0.25rem;
    & .sap-icon--navigation-down-arrow.sap-icon {
      font-size: 16px;
    }
  }
  & > i.icon {
    opacity: 0.75;
  }
}
.ui.selection.dropdown .menu {
  width: auto;
}

.ui.selection.active.dropdown:hover .menu,
.ui.selection.active.dropdown.active .menu {
  border-color: rgb(137, 145, 154);
  width: auto;
}

// PANEL JOB INFO CONTAINER
.job-info-container {
  padding: 1.5rem 1rem;
}

// BUTTONS
button.btn-100 {
  height: 38px;
  max-height: 38px;
  width: 100%;
}
.fd-button::before,
[class*='fd-button--']::before,
a[class*='fd-button--']::before {
  font-size: 14px;
}

.fd-button.sap-icon--navigation-down-arrow:hover,
.fd-input-group__addon.fd-input-group__addon--after:hover {
  border-color: var(--fd-color-action-hover);
}

// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.fd-panel__body.customer-info {
  padding: 0;
}

.panel-body .job-info {
  margin: 0.75rem 0;
}

// ICONS
.sap-icon--search {
  color: var(--fd-color-action-1);
}

// TABLE
.mat-table {
  .mat-header-row {
    background-color: var(--fd-color-background-7);
  }
}

// TABLE PAGINATION
.fd-pagination {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}
