// not using this but the console gets angry if there isn't a theme
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

// body {
//   @media only screen and (max-width: 768px) {
//     background-color: var(--fd-color-background-2);
//   }
// }

// FONTS
mat-table {
  .th-header {
    line-height: 1;
  }
  mat-header-cell,
  mat-cell {
    font-family: '72';
    &.fd-has-type-minus-1.fd-has-text-align-right {
      font-size: 12px;
      color: var(--fd-color-text-2);
    }
  }
  mat-header-cell.fd-has-type-minus-1 {
    color: var(--fd-color-text-4);
    text-transform: uppercase;
    font-weight: 400;
  }
}

.panel-body {
  & .fd-has-type-minus-1 {
    color: var(--fd-color-text-3);
  }
}

.error-message {
  color: var(--fd-color-status-3);
  // fake: should probably be done with an ngIf wrapped
  // around the span and based on validation
  display: none;
}

// MAIN CONTAINER
main {
  margin: 2rem 0.85rem;
}

// FORM CONTAINER
.inline-form-inputs {
  display: flex;
  justify-content: space-between;

  & .fd-form__item {
    width: calc(50% - 4px);
  }
}

.required-input-fields {
  margin-bottom: 4px;
  min-height: 82px;
}

// PANEL JOB INFO CONTAINER
.job-info-container {
  padding: 1.5rem 1rem;
}

// BUTTONS
.btn-100 {
  width: 100%;
}
.fd-button::before,
[class*='fd-button--']::before,
a[class*='fd-button--']::before {
  font-size: 14px;
}

.fd-button.sap-icon--navigation-down-arrow:hover,
.fd-input-group__addon.fd-input-group__addon--after:hover {
  border-color: var(--fd-color-action-hover);
}

// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.fd-panel__body.customer-info {
  padding: 0;
}

.panel-body .job-info {
  margin: 0.75rem 0;
}

// ICONS
.sap-icon--search {
  color: var(--fd-color-action-1);
}

// TABLE
mat-table {
  .th-container {
    display: flex;
    & .fd-has-text-align-right {
      padding-right: 6px;
    }
  }
  mat-header-row {
    background-color: var(--fd-color-background-7);
  }
  mat-header-cell.fd-has-type-minus-1 {
    justify-content: flex-end;

    &:first-of-type {
      justify-content: flex-start;
      padding-left: 12px;
    }
  }
  mat-cell {
    padding-left: 12px;
    &:first-of-type {
      padding-left: 12px;
    }
    &.col-2 {
      padding-right: 36px;
    }
    &.col-2,
    &.col-3 {
      justify-content: flex-end;
    }
    &.cdk-column-expandedDetail {
      background-color: var(--fd-color-neutral-1);
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .expanded-details {
        color: var(--fd-color-text-3);
      }
      & .expanded-details-info {
        color: var(--fd-color-text-2);
      }
    }
  }

  .product-row:not(.expanded) {
    cursor: pointer;
  }

  .product-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  &.pricing-lookup {
    & mat-header-cell:first-of-type {
      @media only screen and (max-width: 380px) {
        padding-bottom: 0.525rem;
      }
    }
  }
  .fd-table__sort-column::after {
    content: unset;
  }
  // expand icon placement at end of column
  mat-header-cell:last-of-type {
    padding-right: 36px;
  }
  mat-cell:last-of-type {
    padding-right: 0;
    & .expand-icon {
      width: 36px;
      height: 14px;
      text-align: center;
      color: var(--fd-color-action-1);
      transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      &.expand-animation {
        transform: rotate(90deg);
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

// TABLE PAGINATION
.fd-pagination {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}
