<mat-table #table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Item Id Column -->
  <ng-container matColumnDef="itemId">
    <mat-header-cell *matHeaderCellDef> Item Id </mat-header-cell>
    <mat-cell *matCellDef="let data"> {{ data.itemId }} </mat-cell>
  </ng-container>

  <!-- Current Price Column -->
  <!-- Position Column -->
  <ng-container matColumnDef="currentPrice">
    <mat-header-cell *matHeaderCellDef> Current Price </mat-header-cell>
    <mat-cell *matCellDef="let data"> {{ data.currentPrice }} </mat-cell>
  </ng-container>

  <!-- Price Source Column -->
  <!-- Position Column -->
  <ng-container matColumnDef="priceSource">
    <mat-header-cell *matHeaderCellDef> Price Source </mat-header-cell>
    <mat-cell *matCellDef="let data"> {{ data.priceSource }} </mat-cell>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column -->
  <!-- Position Column -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let detail">
      The symbol for {{ detail.data.itemDescription }} is
      {{ detail.data.itemDescription }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    matRipple
    class="data-row"
    [class.expanded]="expandedData == row"
    (click)="
      expandedData === row ? (expandedData = null) : (expandedData = row)
    "
  ></mat-row>
  <mat-row
    *matRowDef="
      let row;
      columns: ['expandedDetail'];
      when: isExpansionDetailRow
    "
    [@detailExpand]="row.data == expandedData ? 'expanded' : 'collapsed'"
    style="overflow: hidden"
  >
  </mat-row>
</mat-table>
