// PANELS
.panel-body--main {
  @media only screen and (min-width: 768px) {
    & .fd-form__item {
      margin-bottom: 0;
    }

    .row-one-large {
      display: flex;
      width: 100%;
      &__col-one {
        width: 365px;
        padding-right: 16px;
      }
      &__col-two {
        flex: 1;
      }
      & .inline-form-inputs .fd-form__item {
        width: calc(50% - 8px);
      }
    }

    .row-two-large {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 475px;

      .fd-form__item {
        &:first-child,
        &:nth-child(2) {
          width: 350px;
        }
        &:nth-child(3) {
          width: 167px;
          margin-right: 16px;
        }
        &:nth-child(4) {
          width: 167px;
          margin-right: 16px;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .row-one-large {
      max-width: 750px;
      &__col-one {
        width: 300px;
      }
      &__col-two {
        max-width: 350px;
      }
    }
    .row-two-large {
      width: 1000px;

      .required-input-fields {
        min-height: 84px;
      }

      .fd-form__item {
        &:first-child {
          width: 300px;
          padding-right: 16px;
        }
        &:nth-child(2) {
          margin-right: 16px;
        }
      }
    }
  }

  @media only screen and (min-width: 1440px) {
    .row-one-large {
      max-width: 1000px;
      &__col-one {
        width: 400px;
      }
      &__col-two {
        max-width: 450px;
      }
    }
    .row-two-large {
      width: 1200px;

      .fd-form__item {
        &:first-child {
          width: 400px;
          padding-right: 16px;
        }
        &:nth-child(2) {
          width: 450px;
          margin-right: 16px;
        }
      }
    }
  }
}

.panel-body--secondary {
  @media only screen and (min-width: 1024px) {
    .job-info-container {
      display: flex;
      justify-content: space-between;
      width: 600px;
    }
  }
}

// TABLE
.mat-table {
  .th-container {
    display: flex;
    align-items: baseline;
    & .fd-has-text-align-right {
      padding-right: 6px;
    }
  }

  .mat-header-cell.fd-has-type-minus-1 {
    justify-content: flex-end;

    &:first-of-type {
      justify-content: flex-start;
      padding-left: 12px;
    }
  }
  .mat-cell {
    padding-left: 12px;
    &:first-of-type {
      padding-left: 12px;
    }
    &.col-2 {
      padding-right: 36px;
    }
    &.col-2,
    &.col-3 {
      justify-content: flex-end;
    }
    &.cdk-column-expandedDetail {
      background-color: var(--fd-color-neutral-1);
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .expanded-details {
        color: var(--fd-color-text-3);
      }
      & .expanded-details-info {
        color: var(--fd-color-text-2);
      }
    }
  }

  .product-row:not(.expanded) {
    cursor: pointer;
  }

  .product-row:not(.expanded):hover {
    background: #f5f5f5;
  }
  &.pricing-lookup {
    & .mat-header-cell:first-of-type {
      @media only screen and (max-width: 380px) {
        padding-bottom: 0.525rem;
      }
    }
  }
  .fd-table__sort-column::after {
    content: unset;
  }

  .element-row {
    position: relative;
  }
  // expand icon placement at end of column
  .mat-header-cell:last-of-type {
    padding-right: 36px;
  }
  .mat-cell:last-of-type {
    padding-right: 0;
    & .expand-icon {
      width: 36px;
      height: 14px;
      text-align: center;
      color: var(--fd-color-action-1);
      transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      &.expand-animation {
        transform: rotate(90deg);
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

// RESET LINK
.reset-link {
  cursor: pointer;
}
