// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

// CONTAINERS
.fd-form__set {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & .fd-form__item {
      width: 50%;
      padding-right: 16px;
      max-width: 350px;
    }
    & .required-input-fields {
      min-height: 78px;
    }
  }
}

// INPUTS
.required-input-fields {
  margin-bottom: 4px;
  min-height: 86px;
}

// BUTTONS
.btn-100 {
  color: var(--fd-color-text-5);
  @media screen and (min-width: 1100px) {
    max-width: 170px;
  }
}
