// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.panel-body {
  &.panel-body--secondary {
    padding: 0;
  }
}

// CONTAINERS
.fd-form__set {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    & .fd-form__item {
      width: 50%;
      padding-right: 16px;
      max-width: 350px;
    }
    & .required-input-fields {
      min-height: 78px;
    }
  }
}

// INPUTS
.required-input-fields {
  margin-bottom: 4px;
  min-height: 86px;
}

// BUTTONS
.btn-100 {
  color: var(--fd-color-text-5);
  @media screen and (min-width: 1100px) {
    max-width: 170px;
  }
}

// SMALL TABLE
.mat-table {
  .th-container {
    display: flex;
    align-items: baseline;
    & .th-header {
      padding-right: 6px;
    }
  }

  .expanded-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    &__detail-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  mat-cell:first-of-type,
  mat-footer-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: 8px;
  }

  mat-header-cell:nth-child(2),
  mat-header-cell:nth-child(3) {
    justify-content: flex-start;
    padding-left: 24px;
  }

  .mat-cell {
    &:last-of-type {
      display: flex;
      justify-content: space-between;
    }
    &.cdk-column-expandedDetail {
      background-color: var(--fd-color-neutral-1);
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .expanded-details {
        color: var(--fd-color-text-3);
      }
      & .expanded-details-info {
        color: var(--fd-color-text-2);
      }
    }
    & .name-wrap {
      max-width: 100px;
    }
  }

  .product-row:not(.expanded) {
    cursor: pointer;
  }

  .product-row:not(.expanded):hover {
    background: #f5f5f5;
  }

  .fd-table__sort-column::after {
    content: unset;
  }

  .element-row {
    position: relative;
  }

  .mat-cell:last-of-type {
    padding-right: 0;
    & .expand-icon {
      width: 36px;
      text-align: center;
      color: var(--fd-color-action-1);
      transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      &.expand-animation {
        transform: rotate(90deg);
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }

  // CREATE ACCOUNT COLUMN
  .create-account {
    display: flex;
    & button {
      flex: 1;
    }
  }

  .visible-td-status {
    // STATUS ICON
    .fd-status-label--offline::before {
      background-image: none;
    }
    .fd-status-label--available::after,
    .fd-status-label--away::after,
    .fd-status-label--offline::after {
      top: 0;
    }
  }

  // STATUS ICON
  .fd-status-label--available::after,
  .fd-status-label--away::after,
  .fd-status-label--offline::after {
    top: 0;
  }

  .fd-status-label--available::before,
  .fd-status-label--away::before,
  .fd-status-label--offline::before {
    top: 4px;
  }
}
