<h4 class="fd-has-type-4">Invoice Lookup</h4>
<fd-panel>
  <fd-panel-header>
    <fd-panel-head>
      <h2 fd-panel-title>Invoice Lookup</h2>
    </fd-panel-head>
  </fd-panel-header>
  <fd-panel-body class="panel-body panel-body--main panel-body--main__pricing">
    <div fd-form-set>
      <div class="row-one-large">
        <div fd-form-item class="required-input-fields row-one-large__col-one">
          <label fd-form-label class="required" for="input-1"
            >Customer Name</label
          >
          <fd-combobox
            id="input-1"
            [(ngModel)]="searchTermOne"
            [dropdownValues]="dropdownValues1"
            [placeholder]="''"
            [glyph]="'search'"
            [maxHeight]="'250px'"
            aria-required="true"
          >
          </fd-combobox>
          <!-- this should probably be done with an ngIf based on validation -->
          <!-- if invalid - hide the hint text and show the error message  -->
          <p class="fd-has-type-minus-1 hint-text">
            Search Customer Name or Number
          </p>
          <span class="error-message fd-has-type-minus-1"
            >Fake error message</span
          >
        </div>
        <div class="inline-form-inputs row-one-large__col-two">
          <div fd-form-item class="required-input-fields">
            <label fd-form-label class="required" for="input-2"
              >Customer Number</label
            >
            <input
              fd-form-control
              type="text"
              id="input-2"
              aria-required="true"
              disabled
            />
            <!-- this should probably be done with an ngIf based on validation -->
            <span class="error-message fd-has-type-minus-1"
              >Fake error message</span
            >
          </div>
          <div fd-form-item>
            <label fd-form-label class="required" for="select-1"
              >PPG Store Number</label
            >
            <div class="ui icon input">
              <sui-select
                id="select-1"
                name=""
                class="selection"
                [(ngModel)]="selectedOption"
                [isSearchable]="true"
                [options]="options"
                placeholder="Select Store"
                aria-required="true"
              >
                <sui-select-option
                  *ngFor="let option of options"
                  [value]="option"
                  >{{ option }}
                </sui-select-option>
              </sui-select>
            </div>
            <!-- this should probably be done with an ngIf based on validation -->
            <span class="error-message fd-has-type-minus-1"
              >Fake error message</span
            >
          </div>
        </div>
      </div>
      <div class="row-two-large">
        <div fd-form-item class="required-input-fields">
          <label fd-form-label for="input-3">Job Quote</label>
          <fd-combobox
            id="input-3"
            [(ngModel)]="searchTermThree"
            [dropdownValues]="dropdownValues3"
            [placeholder]="'Search Job Quotes'"
            [glyph]="'search'"
            [maxHeight]="'250px'"
          >
          </fd-combobox>
        </div>
        <div fd-form-item class="required-input-fields">
          <label fd-form-label for="input-4">PO Number</label>
          <input fd-form-control type="text" id="input-4" />
        </div>
        <div fd-form-item class="required-input-fields">
          <label fd-form-label for="input-5">Invoice Number</label>
          <input fd-form-control type="text" id="input-5" />
        </div>
        <div fd-form-item class="required-input-fields">
          <label fd-form-label for="input-5">Invoice Item</label>
          <fd-combobox
            id="input-5"
            [(ngModel)]="searchTermFour"
            [dropdownValues]="dropdownValues4"
            [placeholder]="'Search Invoice Item'"
            [glyph]="'search'"
            [maxHeight]="'250px'"
          >
          </fd-combobox>
        </div>
        <div fd-form-item class="required-input-fields">
          <label fd-form-label for="input-6">SMan</label>
          <input fd-form-control type="text" id="input-6" />
          <p class="fd-has-type-minus-1 hint-text">
            Enter a valid SMAn 3 digit code
          </p>
        </div>
        <div fd-form-item class="required-input-fields">
          <label fd-form-label for="input-6">SAP Branch Number</label>
          <input fd-form-control type="text" id="input-6" />
        </div>
        <div class="datepickers-container">
          <div fd-form-item>
            <label fd-form-label for="date1" class="required">Start Date</label>
            <fd-date-picker
              [type]="'single'"
              [placement]="'bottom-start'"
              id="date1"
            ></fd-date-picker>
          </div>
          <div fd-form-item>
            <label fd-form-label for="date2" class="required">End Date</label>
            <fd-date-picker
              [type]="'single'"
              [placement]="'bottom-end'"
              id="date2"
            ></fd-date-picker>
          </div>
        </div>
        <div fd-form-item [isCheck]="true">
          <label fd-form-label for="checkbox-1" class="fd-form-label--checkbox">
            <input
              fd-form-control
              class="fd-form-control--checkbox"
              type="checkbox"
              id="checkbox-1"
              name="checkbox-name-1"
              checked
            />
            Include Cash Invoices
          </label>
        </div>
        <div fd-form-item>
          <button class="btn-100" fd-button [options]="'emphasized'">
            Search Invoices
          </button>
        </div>
      </div>
    </div>
  </fd-panel-body>
</fd-panel>

<div>
  <fd-panel>
    <fd-panel-header>
      <fd-panel-head>
        <h2 fd-panel-title>Invoice Results (06/01/2019 - 07/01/2019)</h2>
      </fd-panel-head>
      <fd-panel-actions class="download-button">
        <button fd-button [glyph]="'pdf-attachment'">Download PDF</button>
      </fd-panel-actions>
    </fd-panel-header>
    <fd-panel-body class="panel-body panel-body--secondary">
      <div *ngIf="currentWindowWidth < 1024">
        <mat-table #table [dataSource]="dataSource">
          <!-- Invoice Number Column -->
          <ng-container matColumnDef="invoiceNumber">
            <mat-header-cell
              fdColumnSortable
              *matHeaderCellDef
              class="fd-has-type-minus-1"
            >
              <div class="th-container">
                <div class="th-header">
                  Invoice Number
                </div>
                <div>
                  <span class="sap-icon--sorting-ranking sap-icon--s"></span>
                </div>
              </div>
            </mat-header-cell>
            <mat-cell *matCellDef="let product" class="fd-has-type-minus-1"
              ><div class="invoice-number">{{ product.invoiceNumber }}</div>
            </mat-cell>
          </ng-container>

          <!-- Customer Name Column -->
          <ng-container matColumnDef="customerName">
            <mat-header-cell
              fdColumnSortable
              *matHeaderCellDef
              class="fd-has-type-minus-1"
            >
              <div class="th-container">
                <div class="th-header">
                  Customer Name
                </div>
                <div>
                  <span class="sap-icon--sorting-ranking sap-icon--s"></span>
                </div></div
            ></mat-header-cell>
            <mat-cell *matCellDef="let product" class="fd-has-type-minus-1">
              <div class="name-wrap">
                {{ product.customerName }}
              </div>
            </mat-cell>
          </ng-container>

          <!-- Invoice Total Column -->
          <ng-container matColumnDef="invoiceTotal">
            <mat-header-cell
              fdColumnSortable
              *matHeaderCellDef
              class="fd-has-type-minus-1"
            >
              <div class="th-container">
                <div class="th-header">
                  Invoice Total
                </div>
                <div>
                  <span class="sap-icon--sorting-ranking sap-icon"></span>
                </div></div
            ></mat-header-cell>
            <mat-cell
              *matCellDef="let product; let i = index"
              class="fd-has-type-minus-1"
              >{{ product.invoiceTotal }}
              <span
                [ngClass]="
                  currentIndex === i
                    ? 'sap-icon--navigation-right-arrow sap-icon--s expand-icon expand-animation'
                    : 'sap-icon--navigation-right-arrow sap-icon--s expand-icon'
                "
              ></span>
            </mat-cell>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column -->
          <ng-container matColumnDef="expandedDetail">
            <mat-cell *matCellDef="let detail">
              <div class="fd-has-type-0 expanded-details">
                <div class="expanded-details__detail-container">
                  <div>
                    SAP Branch Number:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.SAPBranch }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Customer Number:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.customerNumber }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Job Name:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.jobName }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    PO Number:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.PONumber }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Customer Job:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.customerJob }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Invoice Type:&nbsp;
                  </div>
                  <div
                    class="expanded-details-info expanded-details-info--uppercase"
                  >
                    {{ detail.product.invoiceType }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Tender Type:&nbsp;
                  </div>
                  <div
                    class="expanded-details-info expanded-details-info--uppercase"
                  >
                    {{ detail.product.tenderType }}
                  </div>
                </div>
                <div class="expanded-details__detail-container">
                  <div>
                    Invoice Date:&nbsp;
                  </div>
                  <div class="expanded-details-info">
                    {{ detail.product.invoiceDate }}
                  </div>
                </div>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns; let i = index"
            matRipple
            class="product-row"
            [class.expanded]="expandedData == row"
            (click)="
              expandedData === row
                ? (expandedData = null)
                : (expandedData = row);
              currentIndex = expandedData == row ? i : null
            "
          ></mat-row>
          <mat-row
            *matRowDef="
              let row;
              columns: ['expandedDetail'];
              when: isExpansionDetailRow
            "
            [@detailExpand]="
              row.product == expandedData ? 'expanded' : 'collapsed'
            "
            style="overflow: hidden"
          >
          </mat-row>
        </mat-table>
      </div>
      <div *ngIf="currentWindowWidth >= 1024 && currentWindowWidth < 1440">
        <app-invoice-lookup-table-large></app-invoice-lookup-table-large>
      </div>
      <div *ngIf="currentWindowWidth >= 1440">
        <app-invoice-lookup-table-xlarge></app-invoice-lookup-table-xlarge>
      </div>
      <div class="fd-pagination">
        <span class="fd-pagination__total">30 items</span>
        <nav class="fd-pagination__nav">
          <a
            href="#"
            class="fd-pagination__link fd-pagination__link--previous"
            aria-label="Previous"
            aria-disabled="true"
          ></a>
          <a href="#" class="fd-pagination__link" aria-selected="true">1</a>
          <a href="#" class="fd-pagination__link">2</a>
          <a href="#" class="fd-pagination__link">3</a>
          <a
            href="#"
            class="fd-pagination__link fd-pagination__link--next"
            aria-label="Next"
            aria-disabled="false"
          ></a>
        </nav>
      </div>
    </fd-panel-body>
  </fd-panel>
</div>
