// DELETE DEAD STUFF THAT WAS COPIED OVER!!!!!!!!!!

// FONTS
.fd-form-label--checkbox {
  color: #32363a;
}

// FORM CONTAINER
.inline-form-inputs,
.datepickers-container {
  display: flex;
  justify-content: space-between;
  & .fd-form__item {
    width: calc(50% - 4px);
    & .fd-date-picker-custom {
      display: inherit;
    }
  }
}

// .fd-form__set .last-item {
//   margin-bottom: 0.5rem;
// }

.required-input-fields {
  margin-bottom: 4px;
  min-height: 94px;
}

// CHECKBOX
.fd-form-control--checkbox.fd-form__control {
  height: 16px;
}

// PANELS
.fd-panel {
  margin: 1.25rem 0;
}

.fd-panel__header,
.fd-panel__body,
.fd-panel__filters {
  padding: 1rem;
}

.panel-body {
  &.panel-body--secondary {
    padding: 0;
  }
}

.panel-body--main {
  @media only screen and (min-width: 768px) {
    & .fd-form__item {
      margin-bottom: 0;
    }

    .row-one-large {
      display: flex;
      width: 100%;
      max-width: 800px;
      &__col-one {
        width: 50%;
        max-width: 400px;
        padding-right: 16px;
      }
      &__col-two {
        flex: 1;
      }
      & .inline-form-inputs .fd-form__item {
        width: calc(50% - 8px);
      }
    }

    .row-two-large {
      display: flex;
      flex-wrap: wrap;

      .required-input-fields {
        &:first-child {
          min-height: 84px;
        }
      }

      .fd-form__item {
        &:first-child {
          width: 50%;
          max-width: 400px;
          padding-right: 16px;
        }
        &:nth-child(2) {
          width: 50%;
          max-width: 400px;
          min-height: 84px;
        }
        &:nth-child(3) {
          width: 50%;
          max-width: 400px;
          padding-right: 16px;
        }
        &:nth-child(4) {
          width: 50%;
          max-width: 400px;
        }
        &:nth-child(5) {
          width: 50%;
          max-width: 400px;
          padding-right: 16px;
        }
        &:nth-child(6) {
          width: 50%;
          max-width: 400px;
        }
        &:nth-child(8) {
          display: flex;
          width: 25%;
          max-width: 200px;
          padding-right: 16px;
        }
        &:nth-child(9) {
          display: flex;
          align-items: center;
          width: 25%;
          max-width: 200px;
        }
      }
      & .datepickers-container {
        width: 50%;
        max-width: 400px;
        padding-right: 16px;
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .row-one-large {
      &__col-two {
        justify-content: flex-start;
        & .fd-form__item:first-child {
          max-width: 300px;
          padding-right: 16px;
        }
        & .fd-form__item:nth-child(2) {
          max-width: 300px;
        }
      }
    }
    .row-two-large {
      max-width: 1240px;
      .fd-form__item {
        &:nth-child(2) {
          padding-right: 16px;
        }
        &:nth-child(3) {
          padding-right: 16px;
        }
        &:nth-child(4) {
          padding-right: 16px;
        }
        &:nth-child(6) {
          padding-right: 16px;
        }
        &:nth-child(8) {
          max-width: 192px;
        }
        &:nth-child(9) {
          max-width: 192px;
        }
      }
      & .datepickers-container {
        padding-right: 0px;
      }
    }
  }
}

// SMALL TABLE
.mat-table {
  .th-container {
    display: flex;
    align-items: baseline;
    & .th-header {
      padding-right: 6px;
    }
  }

  .expanded-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    &__detail-container {
      display: flex;
      flex-wrap: wrap;
    }
  }

  mat-cell:first-of-type,
  mat-footer-cell:first-of-type,
  mat-header-cell:first-of-type {
    padding-left: 8px;
  }

  mat-header-cell:nth-child(2),
  mat-cell:nth-child(2) {
    flex-grow: 1.25;
  }

  mat-header-cell:nth-child(2),
  mat-header-cell:nth-child(3) {
    justify-content: flex-start;
    padding-left: 24px;
  }

  .mat-cell {
    &:last-of-type {
      display: flex;
      justify-content: space-between;
    }
    &.cdk-column-expandedDetail {
      background-color: #fafafa;
      padding-top: 1rem;
      padding-bottom: 1rem;
      & .expanded-details {
        color: #6a6d70;
      }
      & .expanded-details-info {
        color: #515559;
      }
    }
    & .name-wrap {
      @media screen and (max-width: 768px) {
        max-width: 100px;
      }
    }
  }

  .product-row:not(.expanded) {
    cursor: pointer;
  }

  .product-row:not(.expanded):hover {
    background: #f5f5f5;
  }

  .fd-table__sort-column::after {
    content: unset;
    display: none;
  }

  .element-row {
    position: relative;
  }

  .mat-cell:last-of-type {
    padding-right: 0;
    & .expand-icon {
      width: 36px;
      text-align: center;
      color: #0a6ed1;
      transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      &.expand-animation {
        transform: rotate(90deg);
        transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}
